.houses-grid {
  width: 100%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;  
  margin-top: 3rem;
  padding: 0 4rem;
}

.grid-item {
  background-color: $color-grey-ultra-light;
  border-radius: $border-radius-3;
  transition: all 0.1s ease-in;
  @include box-shadow();
  & img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: block;
    border-radius: $border-radius-3 $border-radius-3 0 0;
  }

  &-info {
    margin: 1rem 2rem;
    & * {
      margin: 1rem 0;
    }
    &-header{
      display: flex;
      flex-direction: column;
      &-city{
        display: flex;
        width: 50%;
        // justify-content: space-evenly;
        margin: -1.6rem  0;
        & img{
          width: 2rem;
          height: 2rem;
          margin-right: -2rem;
          margin-bottom: -1.5rem;
        }
      }
      
    }
    &-title{
      font-size: $font-size-md;
      font-weight: 600;
    }
    &-city{
      font-size: $font-size-sm;
      font-weight: 400;
      margin-left: 2rem;
    }
    &-services{
      display: flex;
      font-size: $font-size-micro + 0.5rem;
    }
    &-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: red;
      &-price {
        display: flex;
        align-items: center;
        &-number {
          font-size: $font-size-md;
        }
        &-per-night {
          font-size: $font-size-micro;
          color: $color-font-grey;
        }
      }
    }
  }
}
.grid-item:hover {
  @include box-shadow-2();
}
