.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/landing/bg-landing-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
    & .brand {
      margin-right: 8rem;
    }
  
    & .search-box {
      background-color: $color-bg-white;
      border-radius: $border-radius-1;
      padding: 2rem 2rem;
      @include box-shadow();
    }
  
    @media only screen and (max-width: 900px) {
      flex-direction: column;
  
      & .search-box {
        padding: 0;
      }
    }
  }
  