.nav-container {
    position: relative;
    z-index: 50;
    width: 95%;
    margin: 0 auto;
    border-radius: $border-radius-1;
    @include box-shadow();
    margin-top: 2rem;
    & .form-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .text-error-grid{
    position: absolute;
    color: red;
    font-size: $font-size-micro;
    margin-left: 2rem;
    margin-top: -2rem;
    transition: all .1s ease;
    top: 100%;
    right: 59%;
  }