$color-font-white: #ffffff;
$color-font-black: #000000;
$color-font-grey: #676767;

$color-bg-white: #ffffff;
$color-grey-light: #ebebeb;
$color-grey-ultra-light: #fafafa;
$color-grey-dark: #838383;
$color-red: #e2212d;
$color-red-dark: #c51c27;

$border-radius-1: 6rem;
$border-radius-2: 3rem;
$border-radius-3: 2rem;

$main-font: "Quicksand", sans-serif;

$font-size-xl: 5rem;
$font-size-lg: 3.5rem;
$font-size-md: 3rem;
$font-size-sm-2: 2.5rem;
$font-size-sm: 2rem;
$font-size-micro: 1.5rem;