{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
    <title>Document</title>
</head>
<body>
    <section class="houses-grid">
        <nav class="nav-container">
            <form action="" class="form-nav">
                <div class="form-control">
                    <label for="city">Ciudad</label>
                    <input class="input-md" type="text" name="city" placeholder="Mar del Plata" />
                </div>
                <div class="form-control-row">
                    <div class="form-control">
                        <label for="from">Desde</label>
                        <input class="input-sm" type="date" name="from" />
                    </div>
                    <div class="form-control">
                        <label for="to">Hasta</label>
                        <input class="input-sm" type="date" name="to" />
                    </div>
                </div>
                <div class="form-control">
                    <label for="guests">Huéspedes</label>
                    <input class="input-md" type="number" name="guests" />
                </div>
                <button class="btn-action">Buscar</button>
            </form>
        </nav>
        <div class="grid-container">
            <div class="grid-item">
                <img src="../../../static/media/houses/house-1.jpg" alt="house" />
                <div class="grid-item-info">
                    <h3 class="h3">Moderna 77th Street</h3>
                    <p>Internet - agua - heladera - cama</p>
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">$850</p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        <button class="btn-action-item">Ver</button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="../../../static/media/houses/house-1.jpg" alt="house" />
                <div class="grid-item-info">
                    <h3 class="h3">Moderna 77th Street</h3>
                    <p>Internet - agua - heladera - cama</p>
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">$850</p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        <button class="btn-action-item">Ver</button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="../../../static/media/houses/house-1.jpg" alt="house" />
                <div class="grid-item-info">
                    <h3 class="h3">Moderna 77th Street</h3>
                    <p>Internet - agua - heladera - cama</p>
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">$850</p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        <button class="btn-action-item">Ver</button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="../../../static/media/houses/house-1.jpg" alt="house" />
                <div class="grid-item-info">
                    <h3 class="h3">Moderna 77th Street</h3>
                    <p>Internet - agua - heladera - cama</p>
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">$850</p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        <button class="btn-action-item">Ver</button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <img src="../../../static/media/houses/house-1.jpg" alt="house" />
                <div class="grid-item-info">
                    <h3 class="h3">Moderna 77th Street</h3>
                    <p>Internet - agua - heladera - cama</p>
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">$850</p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        <button class="btn-action-item">Ver</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>