{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
    <title>Document</title>
</head>
<body>
    <section class="houses-grid">
        <nav class="nav-container">
            <form action="" class="form-nav">
                <div class="form-control">
                    <label for="city">Ciudad</label>
                    <select name="city" id="" class="input-md">
                        {% for city in cities %}
                            
                            {% if city.id == cityId %}
                                <option selected="true" name="city" value="{{city.id}}">{{city.name}}</option>
                            {% else %}
                                <option name="city" value="{{city.id}}">{{city.name}}</option>
                            {% endif %}     
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-control-row">
                    <div class="form-control">
                        <label for="from">Desde</label>
                        {% if dateFrom %}
                            <input value="{{dateFrom}}" class="input-sm" type="date" name="from" />
                        {% else %}
                            <input class="input-sm" type="date" name="from" />
                        {% endif %}
                    </div>
                    <div class="form-control">
                        <label for="to">Hasta</label>
                        {% if dateTo %}
                            <input value="{{dateTo}}" class="input-sm" type="date" name="to" />
                        {% else %}
                            <input class="input-sm" type="date" name="to" />
                        {% endif %}
                        
                    </div>
                </div>
                <div class="form-control">
                    <label for="guests">Huéspedes</label>
                    
                    {% if guests %}
                        <input value="{{guests}}" class="input-md" type="number" name="guests" />
                    {% else %}
                        <input class="input-md" type="number" name="guests" />
                    {% endif %}
                </div>
                <button class="btn-action">Buscar</button>
            </form>
        </nav>
        <div class="grid-container">
            {% for ownership in ownerships %}
            <div class="grid-item">
                <img src="{{ownership.image.url}}" alt="house" />
                <div class="grid-item-info">
                    <div class="grid-item-info-header">
                        <h3 class="grid-item-info-title">{{ ownership.title }}</h3>
                        <div class="grid-item-info-header-city">
                            <img src="../../../static/media/icons/location-icon.png" alt="location"/>
                            <h4 class="grid-item-info-city">{{ownership.city}}</h4>
                        </div>
                        
                    </div>
                    
                    <div class="grid-item-info-services">
                    {% for service in ownership.services.all %}
                        <p>{{ service }} <pre> </pre></p>
                    {% endfor %}
                </div>
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">${{ownership.dailyRate}} <pre> </pre></p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        
     
                        <button class="btn-action-item" onclick="location.href='{% url 'reserve' ownership.id %}?city={{cityId}}&from={{dateFromPrint}}&to={{dateToPrint}}&guests={{guests}}'">Ver</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>