{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
    <title>Document</title>
</head>
<body>
    <section class="houses-grid">
        <nav class="nav-container">
            <form action="" class="form-nav">
                <div class="form-control">
                    <label for="city">Ciudad</label>
                    <select name="city" id="" class="input-md">
                        {% for city in cities %}
                            
                            {% if cityId == city.id %}
                                <option selected="true" disabled="disabled" name="city" value="{{city.id}}">{{city.name}}asddssdadsa</option>
                            {% else %}
                                {{city.id}}
                                {{cityId}}
                                <option name="city" value="{{city.id}}">{{city.name}}</option>
                            {% endif %}     
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-control-row">
                    <div class="form-control">
                        <label for="from">Desde</label>
                        <input class="input-sm" type="date" name="from" />
                    </div>
                    <div class="form-control">
                        <label for="to">Hasta</label>
                        <input class="input-sm" type="date" name="to" />
                    </div>
                </div>
                <div class="form-control">
                    <label for="guests">Huéspedes</label>
                    <input class="input-md" type="number" name="guests" />
                </div>
                <button class="btn-action">Buscar</button>
            </form>
        </nav>
        <div class="grid-container">
            {% for ownership in ownerships %}
            <div class="grid-item">
                <img src="{{ownership.image.url}}" alt="house" />
                <div class="grid-item-info">
                    <h3 class="h3">{{ ownership.title }}</h3>
                    <h4>{{ownership.city}}</h4>
                    {% for service in ownership.services.all %}
                        <p>{{ service }} <pre> </pre></p>
                    {% endfor %}
                    <div class="grid-item-info-action">
                        <div class="grid-item-info-action-price">
                            <p class="grid-item-info-action-price-number">${{ownership.dailyRate}} <pre> </pre></p>
                            <p class="grid-item-info-action-price-per-night">por noche</p>
                        </div>
                        <button class="btn-action-item" onclick="location.href='{% url 'reserve' ownership.id %}'">Ver</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>