{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
    <title>UTN</title>
</head>
<body>
    <section class="landing">
        <div class="brand">
            <h1 class="h1">
                Encontrá la casa <br />
                que estabas buscando
            </h1>
        </div>
        <div class="search-box">
            <div  class="form-landing">
                <form action="{% url 'ownerships' %}">
                    <div class="form-control">
                        <label for="city">Ciudad</label>
                        <select name="city" id="" class="input-md" required>
                            {% for city in cities %}
                                <option id="{{city.id}}" value="{{city.id}}">{{city.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-control-row">
                        <div class="form-control">
                            <label for="from">Desde</label>
                            <input class="input-sm" type="date" name="from" id="landing-from"/>
                        </div>
                        <div class="form-control">
                            <label for="to">Hasta</label>
                            <input class="input-sm" type="date" name="to" id="landing-to"/>
                        </div>
                        
                    </div>
                    <p id="text-error"></p>
                    <div class="form-control">
                        <label for="guests">Huéspedes</label>
                        <input class="input-md" type="number" name="guests" min="1" value="1"/>
                    </div>
                    <button class="btn-action btn-action-landing">Buscar</button>
                </form>
            </div>
        </div>
    </section>
    <script src="{%  static  'js/landing.js'  %}"></script>
</body>
</html>