{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
    <title>UTN</title>
</head>
<body>
    <section class="house">
        <div class="house-content">
            <img class="house-content-img" src="{{ownership.image.url}}" alt="house" />
            <a class="btn-back" onclick="location.href='{% url 'ownerships' %}?city={{cityId}}&from={{dateFrom}}&to={{dateTo}}&guests={{guests}}'">Atrás</a>
            <div class="house-content-info">
                <div class="house-content-info-row">
                    <h2 class="h2">{{ownership.title}}</h2>
                    <div class="info-address">
                        <img src="../../../static/media/icons/location-icon.png" alt="location" />
                        <p>{{ownership.city}}</p>
                    </div>
                </div>
                <div class="house-content-info-row">
                    <p class="text-md">{{ownership.description}}</p>
                </div>
                <div class="house-content-info-col">
                    <h3 class="h3">Servicios</h3>
                    <ul>
                        {% for service in ownership.services.all %}
                            <li>{{ service }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="house-reserve">
            <div class="reserve-row price-row">
                <h3 class="h3-2" id="daily-rate">${{ownership.dailyRate}}</h3>
                <p class="p-font-md">por noche</p>
            </div>
            <div class="reserve-row">
                <form action="{% url 'confirmation' %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="ownership" id="ownership" value="{{ownership.id}}"> 
                    <div class="form-control-row">
                        <div class="form-control ">
                            <label for="from" class="text-light">Desde</label>
                            <input value="{{dateFrom}}" class="input-sm input-reserve" type="date"  name="from" id="from" required/>
                        </div>
                        <div class="form-control ">
                            <label for="to" class="text-light">Hasta</label>
                            <input value="{{dateTo}}" class="input-sm input-reserve" type="date" name="to" id="to" required/>
                        </div>
                    </div>
                    <p id="date-message"></p>
                    <div class="form-control form-control-reserve" style="margin-top: 1rem;">
                        <label for="guests" class="text-light">Huéspedes</label>
                        <input class="input-sm input-reserve input-reserve-sm" type="number" name="guests" value="{{ownership.maximumPeopleAmount}}" disabled/>
                        <!-- <p class="p-font-md text-regular">Maxima cantidad de huespedes: {{ownership.maximumPeopleAmount}}</p> -->
                    </div>
                    <div class="form-control form-control-reserve">
                        <label for="firstname" class="text-light">Nombre</label>
                        <input class="input-sm input-reserve" type="text" required name="firstname" />
                    </div>
                    <div class="form-control form-control-reserve">
                        <label for="lastname" class="text-light">Apellido</label>
                        <input class="input-sm input-reserve" type="text" required name="lastname" />
                    </div>
                    <div class="reserve-row">
                        <button class="btn-action" id="reserve-btn" type="submit">Reservar</button>
                    </div>
                    <div class="form-control form-control-reserve">
                        <label for="email" class="text-light">Email</label>
                        <input class="input-sm input-reserve" type="email" name="email" required/>
                    </div>
                    <div class="summary">
                        <div class="summary-row">
                            <div class="summary-row-col">
                                <p class="p-font-md" id="summary-price-night"></p>
                                <p class="p-font-md" style="margin-left: 0.5rem;" id="summary-amount-nights"> x noche</p>
                            </div>
                            <div class="summary-row-col">
                                <p class="p-font-md text-regular" id="summary-price"></p>
                            </div>
                        </div>
                        <div class="summary-row">
                            <div class="summary-row-col">
                                <p class="p-font-md">Comisión</p>
                            </div>
                            <div class="summary-row-col">
                                <p class="p-font-md text-regular" id="fee"></p>
                            </div>
                        </div>
                        <div class="summary-row">
                            <div class="summary-row-col">
                                <p class="p-font-md-3 text-bold">Total</p>
                            </div>
                            <div class="summary-row-col">
                                <p class="p-font-md-3 text-bold" id="total-price"></p>
                            </div>
                        </div>
                    </div>
                    
                </form>
                
                
            </div>
        </div>
        <ul id="disabled-dates" style="display: none;">     
            {% for rentDate in rentDatesTaken %}
                <li>{{rentDate.date}}</li>
            {% endfor %}  
        </ul>
    </section>
    
    <script src="{%  static  'js/app.js'  %}"></script>
</body>
</html>