{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
    <title>Document</title>
</head>
<body>
    <section class="house">
        <div class="house-content">
            <img class="house-content-img" src="{{ownership.image.url}}" alt="house" />
            <a class="btn-back" onclick="location.href='{% url 'ownerships' %}'">Atrás</a>
            <div class="house-content-info">
                <div class="house-content-info-row">
                    <h2 class="h2">La mejor casa</h2>
                    <div class="info-address">
                        <img src="../../../static/media/icons/location-icon.png" alt="location" />
                        <p>{{ownership.city}}</p>
                    </div>
                </div>
                <div class="house-content-info-row">
                    <p class="text-md">{{ownership.description}}</p>
                </div>
                <div class="house-content-info-col">
                    <h3 class="h3">Servicios</h3>
                    <ul>
                        {% for service in ownership.services.all %}
                            <li>{{ service }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="house-reserve">
            <div class="reserve-row price-row">
                <h3 class="h3-2" id="daily-rate">${{ownership.dailyRate}}</h3>
                <p class="p-font-md">por noche</p>
            </div>
            <div class="reserve-row">
                <form action="">
                    <div class="form-control-row">
                        <div class="form-control ">
                            <label for="from" class="text-light">Desde</label>
                            <input class="input-sm input-reserve" type="date"  name="from" id="from"/>
                        </div>
                        <div class="form-control ">
                            <label for="to" class="text-light">Hasta</label>
                            <input class="input-sm input-reserve" type="date" name="to" id="to"/>
                        </div>
                    </div>
                    <p id="date-message"></p>
                    <div class="form-control form-control-reserve" style="margin-top: 1rem;">
                        <label for="guests" class="text-light">Huéspedes</label>
                        <input class="input-sm input-reserve input-reserve-sm" type="number" name="guests" />
                    </div>
                    <div class="form-control form-control-reserve">
                        <label for="firstname" class="text-light">Nombre</label>
                        <input class="input-sm input-reserve" type="text" name="firstname" />
                    </div>
                    <div class="form-control form-control-reserve">
                        <label for="lastname" class="text-light">Apellido</label>
                        <input class="input-sm input-reserve" type="text" name="lastname" />
                    </div>
                </form>
            </div>
            <div class="summary">
                <div class="summary-row">
                    <div class="summary-row-col">
                        <p class="p-font-md" id="summary-price-night">$5750</p>
                        <p class="p-font-md" style="margin-left: 0.5rem;" id="summary-amount-nights"> por 3 noche/s</p>
                    </div>
                    <div class="summary-row-col">
                        <p class="p-font-md text-regular" id="summary-price">$17450</p>
                    </div>
                </div>
                <div class="summary-row">
                    <div class="summary-row-col">
                        <p class="p-font-md">Comisión</p>
                    </div>
                    <div class="summary-row-col">
                        <p class="p-font-md text-regular" id="fee">${{commission}}</p>
                    </div>
                </div>
                <div class="summary-row">
                    <div class="summary-row-col">
                        <p class="p-font-md-2 text-bold">Total</p>
                    </div>
                    <div class="summary-row-col">
                        <p class="p-font-md-2 text-bold" id="total-price">$18750</p>
                    </div>
                </div>
            </div>
            <div class="reserve-row">
                <button class="btn-action">Reservar</button>
            </div>
        </div>
    </section>
    <script src="{%  static  'js/app.js'  %}"></script>
</body>
</html>